# IS362 Assignment 7
Choose six recent popular movies.  Ask at least five people that you know (friends, family, classmates, imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5.  There should be at least one movie that not everyone has seen!Take the results (observations) and store them somewhere (like a SQL database, or a .CSV file).  
Load the information into a pandas dataframe.  Your solution should include Python and pandas code that accomplishes the following:  
1.Load the ratings by user information that you collected into a pandas dataframe.  
2.Show the average ratings for each user and each movie.  
3.Create a new pandas dataframe, with normalizedratings for each user.  Again, show the average ratings for each user and each movie.  
4.Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

### 1. Load the ratings by user information that you collected into a pandas dataframe.
First, the pandas module is loaded, then the CSV file is read. A variable "dframe" is created to transform the data into a Data Frame:

In [1]:
import pandas as pd

rate_data = pd.read_csv('./movieratings.csv')

dframe = pd.DataFrame(rate_data)

### 2. Show the average ratings for each user and each movie.

In [2]:
dframe.mean(skipna = True)

<ipython-input-2-55a5a3a9aa67>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dframe.mean(skipna = True)

The Suicide Squad        4.05
Promising Young Woman    3.38
Candyman                 4.06
Malignant                4.10
Free Guy                 4.66
No Time to Die           3.66
dtype: float64

### 3. Create a new pandas dataframe, with normalized ratings for each user.

In [3]:
dframe_idx = rate_data.set_index('Names')
rate_data_normalize = (dframe_idx - dframe_idx.min()) / (dframe_idx.max() - dframe_idx.min())
rate_data_normalize

,The Suicide Squad,Promising Young Woman,Candyman,Malignant,Free Guy,No Time to Die
Names,,,,,,
Alfred,0.838710,0.600000,1.000000,NaN,0.333333,0.64
Janie,NaN,1.000000,0.117647,1.0,0.777778,0.28
Kevin,1.000000,0.000000,0.705882,0.0,1.000000,0.00
Isabel,0.000000,1.000000,0.000000,0.0,0.000000,1.00
Charlie,0.935484,0.333333,0.411765,0.6,1.000000,0.40

### 4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.  
Normalized ratings provide a view that can fit into different scales for different learning models. A disadvantage might be that to the human eye, normailzed ratings do not seem to represent the data accurately.